.bg-image {
  height: 200px !important;
    width: 200px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
