<div class="container border rounded mb-3">
  <div class="row">
    <div
      class="bg-image {{ isList ? 'col-5' : 'col-12' }} pl-0 cursor-pointer"
      [style.background]="'url(' + imgSrc + ')'"
      [routerLink]="['/item/' + item.id]"
    ></div>
    <div
      class="{{
        isList ? 'col-7 d-flex flex-column justify-content-center' : 'col-12'
      }}"
    >
      <p
        class="d-flex cursor-pointer mb-0"
        (click)="toggleEdit()"
        *ngIf="!editMode"
      >
        {{ item.Title }}
      </p>
      <div class="row pr-2" *ngIf="editMode">
        <div class="input-group mb-3 d-flex flex-md-row flex-column">
          <div class="row mx-0">
            <input
              type="text"
              class="form-control col-md-9 w-100"
              input
              [(ngModel)]="newTitle"
            />
          </div>
          <div class="row mx-0 d-flex justify-content-center">
            <button
              class="btn btn-outline-secondary col-md-2 col-4"
              type="button"
              (click)="updateTitle()"
            >
              Save
            </button>
            <button
              class="btn btn-outline-secondary col-md-2 col-4"
              type="button"
              (click)="toggleEdit()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
      <p class="d-flex mb-0">IMDB: {{ item.imdbID }}</p>
      <p class="d-flex mb-0">
        Year: {{ item.Year | date: "y" }}
      </p>
      <div>
      <button type="button" class="btn btn-danger" (click)="removeItem()">Remove</button>
      </div>
    </div>
  </div>
</div>
