<div class="container d-flex">
  <div class="col-2">
    <app-list-buttons
      [isAsc]="isAsc"
      [isList]="isList"
      [addBtn]="showAddNewItem"
      (onRefreshEmmiter)="getDataFromServer()"
      (onToggleAscEmmiter)="toggleAsc()"
      (onToggleViewEmmiter)="toggleListView()"
      (onAddNewEmmiter)="toggleShowNewItem()"
    ></app-list-buttons>
  </div>
  <div class="col-10">
    <app-search-field
    (onClearFilterListEmmiter)="clearInput()"
    (onFilterListEmmiter)="filterList($event)"
    ></app-search-field>
    <div class="row pb-3 ml-3">
      Show:
      {{ filteredList.length ? filteredList.length : list.length }} Results
    </div>
    <div class="{{ isList ? '' : ' d-flex flex-wrap' }} container px-0">
      <div
        class="{{ isList ? 'col-12' : 'col-md-5 col-12' }}"
        *ngIf="!showAddNewItem"
      >
        <app-new-item
        [itemType]="filteredList.length ? filteredList[0].Type : list[0].Type"
        [isList]="isList"
        (closeNewItemEmmiter) ="toggleShowNewItem()"
        (newItemEmmiter)="addNewItem($event)"
        ></app-new-item>
      </div>
      <div
        *ngFor="let item of filteredList.length ? filteredList : list"
        class="{{ isList ? 'col-12' : 'col-md-5 col-12' }}"
      >
        <app-item
          [item]="item"
          [isList]="isList"
          (updateItemEmmiter)="onUpdateItem($event)"
          (onRemoveItemEmmiter)="onDeleteItemEmmiter.emit($event)"
        ></app-item>
      </div>
    </div>
  </div>
</div>
